@import "tailwindcss";
@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));

@theme inline {
	--font-sans: var(--font-geist), ui-sans-serif, system-ui, sans-serif;
	--font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}
